<!DOCTYPE html>
<html>
<% include head %>
<body>
	<div class="container">
	<h1>Make Threads/ Make Posts / Get yobs</h1>
	<% include navbar %>
	<div class="jumbotron">
		<p>Here All posts authored by me (creator) will appear</p>
		<!-- This will be automated with ejs and query -->
		<div class="well row">
			<div class="col-xs-4 text-center">
				Test row
			</div>
			<div class="col-xs-4 text-center">
				Test row
			</div>
			<div class="col-xs-4 text-center">
				Test row
			</div>
		</div>
	</div>
    </div>
</body>
</html>