<!DOCTYPE html>
<html>
<% include head %>
<body>
	<div class="container">
	<h1>Make Threads/ Make Posts / Get yobs</h1>
	<% include navbar %>
	<div class="jumbotron">
		<p>I will update here with current projects and aspirations</p>
		<!-- This will be automated with ejs and query -->
		<div class="well row text-center">
			<div class="col-xs-4 text-center">
				Hire me
			</div>
			<div class="col-xs-4 text-center">
				Yo ill mop floors at Google, idc
			</div>
			<div class="col-xs-4 text-center">
				Will code fizz buzz for money 
			</div>
		</div>
	</div>
    </div>
</body>
</html>